.line-chart-container {
  background-color: $orange;
  display: inline-block;
  border-radius: 7px;
  overflow: hidden;
  position: relative;

  .recharts-default-legend {
    text-align: left!important;

    .recharts-surface {
      display: none!important;
    }
  }

  .average-sessions-shadow {
    position: absolute;
    top: 0;
    background-color: $black;
    opacity: 0.1;
    width: 1000px;
    height: 1000px;
    pointer-events: none;
  }
}