.radial-bar-chart-container {
  display: inline-block;
  position: relative;
  // background-color: $grey-light;
  border-radius: 7px;

  .radial-bar-custom-css {
    .recharts-radial-bar-sectors {
      path {
        fill: $orange;
      }
    }
  }

  .average-score-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 70px;

    div:nth-child(1) {
      font-weight: 700;
      font-size: 26px;
      line-height: 36px;
    }

    div:nth-child(2), div:nth-child(3) {
      font-weight: 700;
      font-size: 16px;
      color: $grey;
      line-height: 24px;
    }
  }

  .recharts-legend-item-text {
    color: $black2!important;
    font-size: 15px;
  }
}